<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="ua.vyshnyak.repository"/>
    <context:property-placeholder location="classpath:auditoriums" />

    <bean id="userService" class="ua.vyshnyak.services.impl.UserServiceImpl" />
    <bean id="eventService" class="ua.vyshnyak.services.impl.EventServiceImpl" />
    <bean id="bookingService" class="ua.vyshnyak.services.impl.BookingServiceImpl" />

    <bean id="firstAuditorium" class="ua.vyshnyak.entities.Auditorium">
        <property name="name" value="${first.auditorium.name}"/>
        <property name="numberOfSeats" value="${first.auditorium.numberOfSeats}"/>
        <property name="vipSeats" value="#{'${first.auditorium.vipSeats}'.split(',')}"/>
    </bean>
    <bean name="secondAuditorium" class="ua.vyshnyak.entities.Auditorium">
        <property name="name" value="${second.auditorium.name}"/>
        <property name="numberOfSeats" value="${second.auditorium.numberOfSeats}"/>
        <property name="vipSeats" value="#{'${second.auditorium.vipSeats}'.split(',')}"/>
    </bean>

    <bean id="auditoriumService" class="ua.vyshnyak.services.impl.AuditoriumServiceImpl">
        <constructor-arg>
            <set>
                <ref bean="firstAuditorium" />
                <ref bean="secondAuditorium" />
            </set>
        </constructor-arg>
    </bean>
</beans>